<!-- <router-outlet></router-outlet> -->
<!-- <h1 (click)="reset()">{{ value }}</h1> -->
<!-- <button (click)="add(1)">Sumar 1</button> -->
<!-- <button (click)="add(10)">Sumar 10</button> -->

<!-- <button (click)="add(10)">Poner rojo</button> -->
<!-- <button (click)="add(10)">Poner rojo</button> -->

<!-- <h2 *ngIf="value > 10"> -->
<!--   Es mayor que 10 -->
<!-- </h2> -->

<!-- <div [ngClass]="getClassesForDiv()"> -->
<!--   hola esto es un div -->
<!-- </div> -->

<!-- <div [style.font-size.px]="value" [class.resaltado]="value > 10"> -->
<!--   Llegamos a 10! -->
<!-- </div> -->

<input type="text" #addInput> <button (click)="addItem(addInput)">Agregar</button>

<!-- usar #addInput para referir al contenido del textbox -->

<ul>
  <li [class.completed]="elemento.completed" *ngFor="let elemento of list">{{elemento.description}}
    <button (click)="remove(elemento)">X</button>
    <button class="button is-success" (click)="toggle(elemento)">Done</button>
  </li>
</ul>
