<app-counter
  (countChanged)="onCountChanged($event)"
  [config]="{description: 'Contador grande', incrementNumber: 100}"
  [count]="counterValue"
  subtitle="Este es un subtitulo estático"
></app-counter>
<h1>Valor actual {{ counterValue }}</h1>
_______________________________________________________________
<app-counter
  (countChanged)="onCountChanged($event)"
  (numberClicked)="onSecondCounterNumberClicked($event)"
  [config]="{description: 'Contador segundo', incrementNumber: 1}"
  [count]="counterValue"
  subtitle="Este es un subtitulo estático"
></app-counter>
<h1>Valor actual {{ counterValue }}</h1>
